:root {
  --primary-color: #00FF00; /* Coder green */

  --dark-background-color: #000000; /* Black background */
  --dark-text-color: #00FF00; /* Coder green text */
  --dark-panel-background: #000000; /* Black panel background */
  --dark-button-background: #00FF00; /* Coder green button background */
  --dark-button-text: #000000; /* Black button text */
  --dark-border-color: #00FF00; /* Coder green border */
  --dark-icon-color: #00FF00; /* Coder green icons */

  --background-color: var(--dark-background-color);
  --text-color: var(--dark-text-color);
  --panel-background: var(--dark-panel-background);
  --button-background: var(--dark-button-background);
  --button-text: var(--dark-button-text);
  --border-color: var(--dark-border-color);
  --icon-color: var(--dark-icon-color);
}

body, p, button {
  font-family: 'AnonPro', monospace;
  color: var(--text-color);
}

.text-logo {
  font-family: 'AnonPro', monospace;
  font-size: 20px;
  font-weight: bold;
  color: var(--primary-color); /* Use coder green for the logo text */
}

.App-header {
  background-color: var(--panel-background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: var(--text-color);
  padding-top: 20px;
}

.logo-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.icon-container {
  position: fixed;
  top: 10px;
  right: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

.custom-button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mode-toggle {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tweet-feed {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  padding: 0 20px;
}

.tweet-item {
  background-color: var(--panel-background);
  border-bottom: 1px solid var(--border-color);
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.tweet-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.tweet-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 10px;
}

.tweet-user-info {
  display: flex;
  flex-direction: column;
}

.tweet-username {
  font-weight: bold;
  font-size: 16px;
  color: var(--text-color);
}

.tweet-handle {
  font-size: 14px;
  color: var(--icon-color);
  margin-top: 2px;
}

.tweet-timestamp {
  font-size: 14px;
  color: var(--icon-color);
  margin-left: 5px;
}

.tweet-text {
  font-size: 16px;
  color: var(--text-color);
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-break: break-word;
}

.tweet-actions {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  padding-top: 5px;
}

.tweet-action-item {
  display: flex;
  align-items: center;
  color: var(--icon-color);
  cursor: pointer;
}

.tweet-action-item span {
  font-size: 14px;
  margin-left: 5px;
}

.tweet-action-item:hover {
  color: var(--primary-color);
}

.generated-tweet-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 20px;
}

.tweet-form, .tweet-button.generate-button {
  width: 100%;
  max-width: 600px;
  margin: 10px auto;
  border-radius: 20px;
  border: 1px solid var(--border-color);
  padding: 10px;
}

.tweet-form textarea {
  width: 100%;
  border: none;
  padding: 10px;
  resize: none;
  outline: none;
  font-family: 'AnonPro', monospace;
  font-size: 16px;
  line-height: 20px;
  background-color: var(--panel-background);
  color: var(--text-color);
}

.tweet-form textarea::placeholder {
  color: var(--icon-color);
}

.tweet-button {
  background-color: var(--button-background);
  border: 1px solid var(--button-background);
  color: var(--button-text);
  padding: 10px;
  text-align: center;
  font-size: 16px;
  margin: 5px 0;
  cursor: pointer;
  border-radius: 30px;
  width: 100%;
  max-width: 600px;
}

.tweet-button:hover {
  background-color: #1a8cd8;
}

@media only screen and (max-width: 768px) {
  .tweet-feed,
  .tweet-item,
  .tweet-form,
  .generated-tweet-container,
  .tweet-button {
    width: 100%;
  }

  .tweet-avatar {
    width: 40px;
    height: 40px;
  }

  .tweet-username {
    font-size: 14px;
  }

  .tweet-handle-container {
    display: flex;
    flex-direction: row;
  }

  .tweet-handle, .tweet-timestamp {
    font-size: 12px;
  }

  .tweet-text {
    font-size: 14px;
  }

  .tweet-action-item span {
    font-size: 12px;
  }
}

.App {
  background-color: var(--background-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
}

.App-header {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  height: 60px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .App-logo {
    height: 40px;
  }
}
